{% extends 'base.html.twig' %}

{% block title %}
    {{ 'tag.tag'|trans }}
{% endblock %}

{% block body %}
    <nav class="nav" aria-label="breadcrumb" style="display: flex; align-items: center;">
        <ol class="breadcrumb" style="flex: 1 1 auto;">
            <li class="breadcrumb-item"><a href="{{ path('task_index') }}">{{ 'song.song'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('category_index') }}">{{ 'category.category'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('artist_index') }}">{{ 'artist.artist'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('genre_index') }}">{{ 'genre.genre'|trans }}</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="breadcrumb-item"><a href="{{ path('comment_index') }}">{{ 'comment.comment'|trans }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ 'tag.tag'|trans }}</li>
        </ol>
        <div>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_logout') }}">{{ 'logout.log'|trans }}</a>
            {% else %}
                <a href="{{ path('app_logout') }}">{{ 'login.log'|trans }}</a>
                <a href="{{ path('app_register') }}">{{ 'register.log'|trans }}</a>
            {% endif %}
        </div>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="logged-user">
            <p style="margin-left: 5px">{{ 'logged.as'|trans }}</p><a href="{{ path('user_index') }}" class="user">{{ app.user.userIdentifier }}</a>
        </div>
    {% elseif is_granted('ROLE_USER') %}
        <div class="logged-user">
            <p style="margin-left: 5px">{{ 'logged.as'|trans }}</p><a class="user" href="{{ path('user_show', {'id': app.user.id}) }}">{{ app.user.email }}</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'id.id'|trans, 'tag.id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'title.title'|trans, 'tag.title') }}</th>
            <th>{{ 'actions.actions'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>{{ 'edit.edit'|trans }}</th>
                <th>{{ 'delete.delete'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.title }}</td>
                <td><a href="{{ path('tag_show', {'id': tag.id}) }}">{{ 'show.show'|trans }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('tag_edit', {'id': tag.id}) }}">{{ 'edit.edit'|trans }}</a></td>
                    <td><a href="{{ path('tag_delete', {'id': tag.id}) }}" onclick="return confirm('{{ 'Are.you.sure.you.want.to.delete.this.tag?'|trans }}')">{{ 'delete.delete'|trans }}</a></td>
                {% else %}
                    <td>{{ 'admin.only'|trans }}</td>
                    <td>{{ 'admin.only'|trans }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('tag_create') }}" class="btn btn-primary">{{ 'create.create'|trans }}</a>
    {% endif %}
{% endblock %}

