{% extends 'base.html.twig' %}

{% block title %}
    {{ 'email.edit'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>{{ 'email.edit'|trans }}</h1>
                <form method="POST" action="{{ url('user_edit_email', {'id': user.id}) }}">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'edit.edit'|trans }}</button>
                    <a href="{{ url('task_index') }}" class="btn btn-secondary">{{ 'back.to.list'|trans }}</a>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
